package {{packageName}}.configuration;

public class ApplicationConfig {
    public static final String API_PATH = "/rest";
    public static final String API_VERSION_0 = API_PATH + "/v0/";
    public static final String API_VERSION_1 = API_PATH + "/v1/";

}
