package {{packageName}};

import org.springframework.beans.factory.annotation.Value;
import org.springframework.http.MediaType;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.GetMapping;

@Controller
public class HomeController {

	@Value("${oauth2.redirect.url:-}")
	private String oauth2RedirectUrl;

	@GetMapping(path = "/", produces = MediaType.TEXT_HTML_VALUE)
	public String home() {
		return "redirect:/swagger-ui.html?oauth2RedirectUrl=" + oauth2RedirectUrl;
	}

}
