package {{packageName}}.api.service.impl;

import {{packageName}}.api.controller.domain.DAOConverter;
import {{packageName}}.api.controller.dto.CompanyDto;
import {{packageName}}.api.dao.Company;
import {{packageName}}.api.service.CompanyService;
import org.springframework.stereotype.Service;

import java.util.ArrayList;
import java.util.List;
import java.util.UUID;

@Service("companyService")
//@Transactional
//@Scope(proxyMode = ScopedProxyMode.TARGET_CLASS)
public class CompanyServiceImpl implements CompanyService {
    private final DAOConverter converter;

    public CompanyServiceImpl(DAOConverter converter) {
        this.converter = converter;
    }

    @Override
    public List<CompanyDto> getCompanyList() {
        List<Company> companies = new ArrayList<>();
        Company company = new Company();
        company.setId(UUID.randomUUID());
        company.setName("Test AAB");
        companies.add(company);
        return converter.convert(companies);
    }
}
