package {{packageName}}.api.controller.domain;

import {{packageName}}.api.controller.dto.CompanyDto;
import {{packageName}}.api.dao.data.Company;
import {{packageName}}.api.service.CompanyService;

import org.junit.jupiter.api.Test;
import org.junit.jupiter.api.extension.ExtendWith;

import org.mockito.InjectMocks;
import org.mockito.Mock;
import org.mockito.junit.jupiter.MockitoExtension;

import java.util.UUID;

import static org.junit.jupiter.api.Assertions.assertEquals;

@ExtendWith(MockitoExtension.class)
public class DAOConverterTest {
    @InjectMocks
    private DAOConverter converter;
    @Mock
    private CompanyService service;

    @Test
    public void convert_senior_living_company() {
        //given
        UUID id = UUID.randomUUID();
        Company company = new Company.Builder()
                .id(id)
                .name("n")
                .webSite("w")
                .companyType(0)
                .build();
        CompanyDto expected = new CompanyDto();
        expected.setId(id);
        expected.setName("n");
        expected.setWebSite("w");
        expected.setTypeDescription("SeniorLiving");
        //when
        CompanyDto actual = converter.convert(company);
        //then
        assertEquals(expected, actual);
    }

    @Test
    public void convert_multifamily_company() {
        //given
        UUID id = UUID.randomUUID();
        Company company = new Company.Builder()
                .id(id)
                .name("n")
                .webSite("w")
                .companyType(1)
                .build();
        CompanyDto expected = new CompanyDto();
        expected.setId(id);
        expected.setName("n");
        expected.setWebSite("w");
        expected.setTypeDescription("Multifamily");
        //when
        CompanyDto actual = converter.convert(company);
        //then
        assertEquals(expected, actual);
    }
}
